.dashboard {
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
}

.dashboard-heading {
  font-family: 'Montserrat', sans-serif; /* Ensure the correct font is applied */
  font-size: 2.5rem; /* Adjust font size as needed */
  font-weight: 700; /* Use bold weight for better emphasis */
  color: #1a1a1a; /* Change color for better visibility */
  margin-bottom: 20px; /* Space below the heading */
}

.grid {
  display: flex;
  justify-content: space-around; /* Adjust as necessary */
  flex-wrap: wrap; /* Allow wrapping */
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 300px; /* Set a fixed width for cards */
}


.carbon-footprint {
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
}


.chart-container {
  display: flex;
  justify-content: center; /* Center the chart */
  align-items: center; /* Center vertically */
  padding: 20px;
  background-color: #ffffff; /* Background for the chart */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Prevent overflow */
  max-width: 600px; /* Set a max width */
  margin: 0 auto; /* Center the container */
}
